body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.navbar {
    background-color: #0d6efd;
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.form-box {
    width: 360px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.form-box input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

.form-box button {
    width: 50%;
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form-box button:hover {
    background-color: #084298;
}

#msg {
    margin-top: 10px;
    font-weight: bold;
}
